/* 스포카 산스 폰트 임포트 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* common */
body {background:#fff; font-size:10px; line-height:10px; color:#222; font-family:'Spoqa Han Sans Neo', 'sans-serif';}
a {color:#222; text-decoration: none;}
a:hover {color:#222}
a:active {color:#222}

/* margin */
.m0 {margin:0}
.mb0 {margin-bottom:0}
.mt0 {margin-top:0}
.ml0 {margin-left:0}
.mr0 {margin-right:0}
.m05 {margin:5px}
.mb05 {margin-bottom:5px}
.mt05 {margin-top:5px}
.ml05 {margin-left:5px}
.mr05 {margin-right:5px}
.m10 {margin:10px}
.mb10 {margin-bottom:10px}
.mt10 {margin-top:10px}
.ml10 {margin-left:10px}
.mr10 {margin-right:10px}
.m15 {margin:15px}
.mb15 {margin-bottom:15px}
.mt15 {margin-top:15px}
.ml15 {margin-left:15px}
.mr15 {margin-right:15px}
.m20 {margin:20px}
.mb20 {margin-bottom:20px}
.mt20 {margin-top:20px}
.ml20 {margin-left:20px}
.mr20 {margin-right:20px}
.m25 {margin:25px}
.mb25 {margin-bottom:25px}
.mt25 {margin-top:25px}
.ml25 {margin-left:25px}
.mr25 {margin-right:25px}
.m30 {margin:30px}
.mb30 {margin-bottom:30px}
.mt30 {margin-top:30px}
.ml30 {margin-left:30px}
.mr30 {margin-right:30px}

/* padding */
.p0 {padding:0}
.pb0 {padding-bottom:0}
.pt0 {padding-top:0}
.pl0 {padding-left:0}
.pr0 {padding-right:0}
.p05 {padding:5px}
.pb05 {padding-bottom:5px}
.pt05 {padding-top:5px}
.pl05 {padding-left:5px}
.pr05 {padding-right:5px}
.p10 {padding:10px}
.pb10 {padding-bottom:10px}
.pt10 {padding-top:10px}
.pl10 {padding-left:10px}
.pr10 {padding-right:10px}
.p15 {padding:15px}
.pb15 {padding-bottom:15px}
.pt15 {padding-top:15px}
.pl15 {padding-left:15px}
.pr15 {padding-right:15px}
.p20 {padding:20px}
.pb20 {padding-bottom:20px}
.pt20 {padding-top:20px}
.pl20 {padding-left:20px}
.pr20 {padding-right:20px}
.p25 {padding:25px}
.pb25 {padding-bottom:25px}
.pt25 {padding-top:25px}
.pl25 {padding-left:25px}
.pr25 {padding-right:25px}
.p30 {padding:30px}
.pb30 {padding-bottom:30px}
.pt30 {padding-top:30px}
.pl30 {padding-left:30px}
.pr30 {padding-right:30px}


/* grid */
.grid01 {}
.grid01 .grid01_1 {}
.grid01 .grid01_2 {}
.grid02 {}
.grid03 {}
.grid04 {}


/* media query */